@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

/* Rubik */
@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

/* Pages */
body {
  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 30px;

  background-color: #FFFFFF;
  color: #000000;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

.navigation {
  background-color: #FFE17F;
}

.product-search-row::placeholder {
  opacity: 0.3;
}

.small-text {
  font-size: 16px;
  line-height: 20px;
}

.button-font {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 3.6px;

  color: #000000;
}

.navigation-menu-link {
  font-family: Raleway, sans-serif;
  line-height: normal;
  letter-spacing: 3.6px;
}

.big-title {
  font-family: Raleway, sans-serif;
  font-size: 50px;
  line-height: 50px;

  color: #000000;
}

.product-specs-data {
  font-size: 36px;
}

.product-specs-title {
  font-size: 16px;
  font-weight: 400;
}

.categories-link {
  font-family: Raleway, sans-serif;
  line-height: 24px;
}

.banner-delivery {
  background-color: #F0F0F0;

  font-family: Raleway, sans-serif;
  font-size: 20px;
  line-height: normal;
}

.transport-companies {
  font-weight: 700;
  line-height: 20px;
}

.info-text-title {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
}

/* Subscribe */
.subscribe {
  background-color: #F0F0F0;
  color: #444;
}

.subscribe-email {
  font-size: 18px;
  line-height: 30px;

  opacity: 0.5;
}

/* Footer */
.page-footer {
  background-color: #444;
  color: #FFFFFF;
}

/*Catalog*/
.catalog-products {
  background-color: #F0F0F0;
}

.small-title {
  font-family: Raleway;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 3.2px;
}

.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.product-card-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.product-card-price {
  color: #444;
  line-height: normal;
}

.pagination-show-more {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 3.2px;
}

/* Catalog pagination */
.pagination {
  background-color: #EBEBEB;
}

.pagination-item {
  color: #444;
  opacity: 0.3;
}

.pagination-current {
  opacity: 0.6;
}

.pagination-active {
  color: #000000;
  opacity: 1;
}

/* Hidden */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
