@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

/* Rubik */
@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

/* Pages */
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  margin: 0;
  min-height: 100%;

  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 30px;

  background-color: #ffffff;
  color: #000000;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link[href^="tel:"] {
  text-decoration: underline;
}

.contacts-address {
  font-style: normal;
}

.font-rubik {
  font-family: Rubik, sans-serif;
}

.page-header {
  width: 1160px;
  margin: 0 auto;

  line-height: initial;
}

.logo {
  display: block;
  width: 1040px;

  margin: 0 auto;

  position: relative;
  top: 20px;
}

.navigation {
  width: 1160px;
  padding-top: 53px;

  background-color: #ffe17f;
}

.navigation-list {
  display: flex;
  width: 1040px;

  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  margin-bottom: 52px;
}

.navigation-user-item:nth-child(2) {
  margin-right: auto;
}

.navigation-user-item:nth-child(3) {
  margin-right: 35px;
}

/* Menu icons */
.navigation-user-item:nth-child(2) .navigation-user-link::before {
  content: '';

  display: inline-block;
  width: 15px;
  height: 12px;
  margin-right: 12px;

  background: url("../images/icons/user.svg") no-repeat;
}

.navigation-user-item:nth-child(3) .navigation-user-link::before {
  content: '';

  display: inline-block;
  width: 10px;
  height: 12px;
  margin-right: 12px;

  background: url("../images/icons/sort.svg") no-repeat;
}

.navigation-user-item:nth-child(4) .navigation-user-link::before {
  content: '';

  display: inline-block;
  width: 16px;
  height: 14px;
  margin-right: 12px;

  background: url("../images/icons/cart.svg") no-repeat;
}
/* End */

.navigation-menu-item {
  margin-right: 45px;
}

.navigation-menu-item:first-child {
  margin-right: auto;
}

.navigation-menu-item:last-child {
  margin-right: 0;
}

.product-search {
  width: 517px;
  margin-right: 25px;
}

.product-search-row::placeholder {
  opacity: 0.3;
}

.product-search-btn {
  font-family: Rubik, sans-serif;
}

.small-text {
  font-size: 16px;
  line-height: 20px;
}

.button-font {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 3.6px;

  color: #000000;
}

.navigation-menu-link {
  font-family: Raleway, sans-serif;
  line-height: normal;
  letter-spacing: 3.6px;
}

/* Page Index */
.page-stretch {
  flex-grow: 1;
}

.slider {
  display: flex;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;

  position: relative;
}

.slider-header {
  width: 100%;

  background-color: #ffe17f;
  color: #ffffff;

  position: absolute;
  z-index: -10;
}

.slider-header-number {
  width: 1060px;
  margin: 80px auto 35px;

  text-align: right;
  font-size: 180px;
  font-weight: 700;
}

.big-title {
  font-family: Raleway, sans-serif;
  font-size: 50px;
  line-height: 50px;

  color: #000000;
}

.product-photo-carousel {
  width: 50%;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-photo {
  position: absolute;
  top: 0;
}

.product-description {
  width: 50%;
  box-sizing: border-box;

  padding-top: 70px;
  padding-left: 20px;
}

.product-description-more {
  display: block;
  width: 220px;

  text-align: center;
}

.product-specs-data {
  font-size: 36px;
}

.product-specs-title {
  font-size: 16px;
  font-weight: 400;

  padding-right: 15px;
}

.slider-pagination {
  display: flex;

  margin-left: auto;
  margin-right: auto;

  list-style-type: none;
  padding: 0;
}

.slider-pagination-item {
  margin-right: 20px;
}

.slider-pagination-item:nth-child(3) {
  margin-right: 0;
}

/* Categories */
.categories-navigation {
  display: flex;
  justify-content: space-between;

  width: 1160px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.categories-item {
  width: 160px;
}

.categories-link::before {
  content: '';

  display: block;
  width: 160px;
  height: 160px;

  background-color: #ffe17f;
  background-position: center;
  background-repeat: no-repeat;
}

.categories-item:nth-child(1) > .categories-link::before {
  background-image: url("../images/icons/virtual-reality.svg");
}

.categories-item:nth-child(2) > .categories-link::before {
  background-image: url("../images/icons/selfie-monopod.svg");
}

.categories-item:nth-child(3) > .categories-link::before {
  background-image: url("../images/icons/action-camera.svg");
}

.categories-item:nth-child(4) > .categories-link::before {
  background-image: url("../images/icons/fitness-bracelet.svg");
}

.categories-item:nth-child(5) > .categories-link::before {
  background-image: url("../images/icons/smart-watches.svg");
}

.categories-item:nth-child(6) > .categories-link::before {
  background-image: url("../images/icons/quadrocopter.svg");
}

.categories-link {
  font-family: Raleway, sans-serif;
  line-height: 24px;
}

/* Services */
.services {
  display: flex;
  justify-content: center;

  background-color: #f0f0f0;
}

.services-menu {
  width: 287px;

  padding: 0;
  margin: 0;
}

.services-description {
  position: relative;

  width: 695px;
  margin-left: 115px;
  margin-right: 60px;
}

.services-description-text {
  width: 452px;
}

.services-description::after {
  position: absolute;
  top: -40px;
  right: 0;

  content: '';

  display: block;
  width: 171px;
  height: 195px;

  background-position: center;
  background-image: url("../images/service-1.svg");
  background-repeat: no-repeat;
}

.banner-delivery {
  background-color: #f0f0f0;

  font-family: Raleway, sans-serif;
  font-size: 20px;
  line-height: normal;

  text-align: center;
  letter-spacing: 4px;
}

.transport-companies {
  font-weight: 700;
  line-height: 20px;
}

.info-text-title {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
}

.info {
  display: flex;
  justify-content: space-between;

  width: 1160px;
  margin: 0 auto;
}

.info > section {
  width: 520px;
}

/* Subscribe */
.subscribe {
  background-color: #f0f0f0;
  color: #444;
}

.subscribe-block {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: space-between;
}

.subscribe-call {
  display: block;
  width: 348px;
}

.subscribe-text {
  width: 560px;
}

.subscribe-email {
  font-size: 18px;
  line-height: 30px;

  opacity: 0.5;
}

/*Catalog*/
.page-catalog {
  display: flex;
  flex-direction: column;
}

.catalog-header {
  width: 1040px;

  margin-left: auto;
  margin-right: auto;
}

.path-page {
  display: flex;

  padding: 0;
}

.sort-order-container {
  width: 760px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
}

.sort-order-buttons {
  display: flex;
  padding: 0;
  margin: 0;
}

.catalog-products {
  display: flex;
  justify-content: center;

  background-color: #f0f0f0;
}

.small-title {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 3.2px;
}

.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.product-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  width: 840px;
}

.product-card-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.product-card-price {
  color: #444;
  line-height: normal;
}

.pagination-show-more {
  display: block;
  margin-right: auto;
  margin-left: auto;

  font-family: Raleway, sans-serif;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 3.2px;
}

/* Catalog pagination */
.pagination {
  display: flex;

  background-color: #ebebeb;
}

.pagination-item {
  color: #444;
  opacity: 0.3;
}

.pagination-item:first-child {
  margin-right: auto;
}

.pagination-item:last-child {
  margin-left: auto;
}

.pagination-current {
  opacity: 0.6;
}

.pagination-active {
  color: #000000;
  opacity: 1;
}

/* Footer */
.page-footer {
  background-color: #444;
  color: #ffffff;
}

.footer-container {
  width: 1160px;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  margin-left: auto;
  margin-right: auto;
}

.footer-address {
  width: 240px;

  align-self: flex-start;
}

.footer-navigation {
  width: 445px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-navigation ul {
  width: 100%;

  display: flex;
  padding: 0;
}

.footer-navigation li {
  padding: 0;
}

.footer-menu {
  justify-content: space-between;
}

.footer-social-list {
  justify-content: center;
}

.footer-social-link {
  display: inline-block;

  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.3);
  background-repeat: no-repeat;
}

.footer-social-item:nth-child(1) > .footer-social-link {
  background-image: url("../images/icons/logo-telegram.svg");
}

.footer-social-item:nth-child(2) > .footer-social-link {
  background-image: url("../images/icons/logo-youtube.svg");
}

.footer-social-item:nth-child(3) > .footer-social-link {
  background-image: url("../images/icons/logo-twitter.svg");
}

.footer-contacts {
  width: 175px;
}

/* Hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
